<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CaTo"
        tools:targetApi="31">
        <activity
            android:name=".payment.payment"
            android:exported="false" />
        <activity
            android:name=".home.menu.profile.location.LocationPicker"
            android:exported="false"
            android:label="@string/title_activity_location_picker" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBwW9P0GOD3s2lU_E0f8LWuVi1YW0DwSQ0" />

        <activity
            android:name=".home.menu.profile.location.DetailLocation"
            android:exported="false" />
        <activity
            android:name=".home.menu.profile.location.Location"
            android:exported="false" />
        <activity
            android:name=".order.OrderStatus"
            android:exported="false" />
        <activity
            android:name=".order.OrderDetail"
            android:exported="false" />
        <activity
            android:name=".vendor.foods.DetailFood"
            android:exported="false" />
        <activity
            android:name=".vendor.DetailVendor"
            android:exported="false" />
        <activity
            android:name=".home.HomeNavigation"
            android:exported="false" />
        <activity
            android:name=".auth.Authentication"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>